* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.gridpage {
    min-height: 100%;
    display: grid;
    grid-template-rows: minmax(50px, auto) 1fr minmax(30px, auto) ;
    grid-template-columns: 1fr ;
    grid-template-areas: 
            "header"
            "main"
            "footer" ;
}

.header {
    grid-area: header;
    background-color: rgb(74, 130, 193);
    color: white;
    display: grid;
    grid-template: 1fr / minmax(auto, 300px) minmax(auto, 1100px) ;

    @media (max-width: 600px) {
        grid-template: 1fr 1fr / 1fr ;
        grid-auto-flow: column;
     }
}

.header-style {
    font-weight: 100;
}


.header1 {
    width: 300px;
    background-color: rgb(54, 96, 144);
    display: flex;
    justify-content: center;
    align-items: center;


    @media (max-width: 600px) {
        width: 100%;
        text-align: center;
     }
}

.header2 {
    display: grid;
    grid-template: 1fr / minmax(auto, 50px) minmax(auto, 1050px) ;
    align-items: center;
    justify-items: end;
}

.header3 {
    padding: 0 15px 0 0;
    display: flex;
    grid-auto-flow: row;
    align-items: center;
}


.main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / minmax(auto, 300px) minmax(auto, 1100px) ;
    background-color: rgb(214, 208, 208);

    @media (max-width: 600px) {
        grid-template: 1fr / 1fr ;
    }
}

.sidebar {
    background-color: rgb(51, 51, 51);
    color: white;
    grid-column: 1 / 1 ;

    @media (max-width: 600px) {
        display: none;
     }
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.adm {

    @media (max-width: 600px) {
        display: none;
     }
}

.online {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50px;
}

.header_icon {
    padding: 0 10px;
}

.admin_1 {
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr / 0.5fr 1fr;
    justify-items: start;
    align-items: center
}

.admin_1_1 {
    grid-column: 1 / 1;
    padding-left: 20px;
}

.admin_1_2 {
    grid-column: 2 / 2;
}

.admin_2 {
    padding: 0 10px;
    height: 50px;
    background-color: black;
    color: rgb(129, 133, 133);
    display: grid;
    grid-auto-flow: row;
    align-items: center;
}

.admin_3 {
    padding-left: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;

    .name {
        padding-left: 30px;
    }
}

.content {
    background-color: rgb(214, 208, 208);
    grid-column: 2 / 2;
    display: grid;
    grid-template: 1fr / 1fr ;

    @media (max-width: 600px) {
        grid-column: 1 / 1;
    }
}

.content_head {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.content_head1 {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.content_head_name {
    font-size: 20px;
}

.content-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 960px) {
        grid-auto-flow: column;
        grid-template-rows: 0.7fr 1fr 0.7fr 0.5fr;
        grid-template-columns: 1fr;
     }
}


.form_container {
    margin: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fdfdfd;
    border: 1px solid rgb(129, 133, 133);
}

.form1 {
    grid-row: 1 / 1;
    grid-column: 1 / 1;

    @media (max-width: 960px) {
        grid-row: 1 / 1;
        grid-column: 1 / 1;  
     }
}

.form2 {
    grid-row: 1 / 1 ;
    grid-column: 2 / 2;

    @media (max-width: 960px) {
        grid-row: 2 / 2;
        grid-column: 1 / 1;        
     }
}

.form3 {
    grid-row: 2 / 2;
    grid-column: 1 / 1;

    @media (max-width: 960px) {
        grid-row: 3 / 3;
        grid-column: 1 / 1;
        width: 100%;  
     }
}

.form4 {
    grid-row: 2 / 2;
    grid-column: 2 / 2;

    @media (max-width: 960px) {
        width: 100%;
        grid-row: 4 / 4;
        grid-column: 1 / 1;
     }
}

.btn {
    background-color: rgb(54, 96, 144);
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    width: 100px;

    &_1 {
        width: 200px;
    }
  }


input[type=text], input[type=password] {
    padding: 10px;
    margin: 5px;
    width: 90%;
    display: inline-block;
    border: 1px solid rgb(129, 133, 133);;
    background: #f1f1f1;
  }

  h3, b {
    margin: 5px;
  }

  .position {
    position: relative;
}

.position1 {
    position: absolute;
    right: 40px;
    bottom: 10px;
}

.footer {
    grid-area: footer;
    background-color: white;
    font-weight: 900;
    display: grid;
    grid-template: 1fr / minmax(auto, 300px) minmax(auto, 1100px) ;
    justify-items: end;

}

.footer__text1 {
    grid-column: 1 / 1;
}

.footer__text2 {
    grid-column: 2 / 2;
}

.footer-style {
    color: rgb(74, 130, 193);
}

